<!doctype html>
<html lang="en">
  <head>
    <title><%= siteTitle %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
        <% include partials/content/header.ejs %>
        <div class="mainTitle">
        <h1><b><%= title %></b></h1>
        </div>
        <div class="main">
        <img style="border-radius: 10px;" src="/images/misc/background.jpg" style="height: 400px;"><br>
        </div>
        <div class="mainButtons">
        <button><a style="text-decoration: none;" href="albums">View All</a></button>
        <button><a style="text-decoration: none;" href="albums/0">Taylor Swift</a></button>
        <button><a style="text-decoration: none;" href="albums/1">Fearless</a></button>
        <button><a style="text-decoration: none;" href="albums/2">Speak Now</a></button>
        <button><a style="text-decoration: none;" href="albums/3">Red</a></button>
        <button><a style="text-decoration: none;" href="albums/4">1989</a></button>
        <button><a style="text-decoration: none;" href="albums/5">Reputation</a></button>
        </div>

        <% include partials/content/footer.ejs %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>