@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html{
    position: relative;
    min-height:100%;
}

body {
    /* background-color: #b092d6; */
    font-family: 'Open Sans Condensed', sans-serif;
    /* height: 100vh; */
}

.navbar {
    background-color: #845db6;
    border-bottom: #845db6 3px solid;
    box-shadow: 0 8px 6px -6px #999;
}

footer {
    background-color: #845db6;
    margin-top: 20px;
    box-shadow: 0 8px 8px 3px #999;
    color: white;
    position: absolute; 
    bottom: 0px;
    width: 100%;
    padding: 5px;
}

.nav-link, .nav-link {
    font-size: 20px;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
}

.main {
    /* margin-left: 12%;
    border-radius: 10px; */
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.mainTitle {
    margin-top: 15px;
    font-weight: 700;
}


.cdPic {
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.mainButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

button {
    padding: 5px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #845db6;
}

a {
    font-size: 15px;
    color: white;
}

.allAlbums {
    margin-left: 20px;
    margin-bottom: 70px;
}

.soloAlbum {
    margin-bottom: 90px;
    margin-left: 20px;
}

.borderFeedback {
    background-color: #9c7dc5;
}