<nav class="navbar navbar-expand-lg navbar-light">
        <a style="margin-right: 0px;" class="navbar-brand" href="#"><img src="/images/misc/logo3.png" width="120px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span style="background-color: white;" class="navbar-toggler-icon"></span> -->
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a style="color:white;" class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a style="color:white;" class="nav-link" href="/albums">VIEW ALL <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown active">
                <a style="color:white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ALBUMS
                </a>
                <% if(pageId  === "Albums"){ %>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="./0">Taylor Swift</a>
                            <a class="dropdown-item" href="./1">Fearless</a>
                            <a class="dropdown-item" href="./2">Speak Now</a>
                            <a class="dropdown-item" href="./3">Red</a>
                            <a class="dropdown-item" href="./4">1989</a>
                            <a class="dropdown-item" href="./5">Reputation</a>
                        </div>
                <% } %>
               

                <% if(pageId  !== "Albums"){ %>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="./albums/0">Taylor Swift</a>
                <a class="dropdown-item" href="./albums/1">Fearless</a>
                <a class="dropdown-item" href="./albums/2">Speak Now</a>
                <a class="dropdown-item" href="./albums/3">Red</a>
                <a class="dropdown-item" href="./albums/4">1989</a>
                <a class="dropdown-item" href="./albums/5">Reputation</a>
                </div>
                <%  } %>
            </li>
            <li class="nav-item active">
                    <a style="color:white;" class="nav-link" href="/feedback">CONTACT US<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a style="color:white;" class="nav-link" href="/chatroom">CHAT ROOM<span class="sr-only">(current)</span></a>
            </li>
        </div>
        </nav>